<!-- <div class="container-fluid">
    <h2>Create Account</h2>
    <form [formGroup]="loginRef" (ngSubmit)="signUp()">
        <div class="form-group">
            <input type="number" placeholder="Enter id" formControlName="id" required/>
        </div>
        <div *ngIf="(loginRef.controls['id']?.invalid) && (loginRef.controls['id']?.touched)">
            <span [hidden]="!loginRef.controls['id'].hasError('required')" style="color: red;">Id is required</span>
            <!-- <span [hidden]="!loginRef.controls['emailid'].hasError('pattern')" style="color: red;">Email must follow pattern</span> -->
        <!-- </div>
        <div class="form-group">
        <input type="email" placeholder="Enter Email Id" formControlName="emailid" required pattern="[a-z, A-Z, 0-9]+@[a-z, A-Z]+.com"/>
        </div>
        <div *ngIf="(loginRef.controls['emailid']?.invalid) && (loginRef.controls['emailid']?.touched)">
            <span [hidden]="!loginRef.controls['emailid'].hasError('required')" style="color: red;">Email is required</span>
            <span [hidden]="!loginRef.controls['emailid'].hasError('pattern')" style="color: red;">Email must follow pattern</span>
        </div>
        <div class="form-group">
        <input type="password" placeholder="Enter password" formControlName="password" required minlength="4"/>
        </div>
        <div *ngIf="(loginRef.controls['password']?.invalid) && (loginRef.controls['password']?.touched)">
            <span [hidden]="!loginRef.controls['password'].hasError('required')" style="color: red;">Password is required</span>
            <span [hidden]="!loginRef.controls['password'].hasError('minlength')" style="color: red;">Password should contain atleast 4 charaters</span>
        </div> -->
        <!-- <label>Role: </label> -->
        <!-- <input type="radio" name="role" value="doctor" formControlName="role"/>doctor
        <input type="radio" name="role" value="patient" formControlName="role"/>patient
        <br>
        <div class="form-group">
            <input type="submit" value="Sign up" class="btn btn-primary"/>
        </div>
        <div class="form-group">
            <input type="reset" value="reset" class="btn btn-secondary"/>
        </div>
    </form>
    <br>
    <span style="color: red;">{{msg}}</span><br> -->
    <!-- <a routerLink="/login">Login</a> -->
    <!-- <div class="form-group"><p>Return Back to <button class="btn btn-outline-secondary"><a routerLink="/login" style="color: black; text-decoration:none">Login</a></button> </p></div>
</div> --> 


<div class="card">
    <div class="row g-0">
      <div class="col-5 col-sm-4">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKSKZAjhvx8hXirONsn8XnE4F8-piwOG0v6w&usqp=CAU" class="img-fluid w-100" alt="card-horizontal-image">
      </div>
            <div class="col-7 col-sm-8">
                <div class="card-body">
                    <h5>Create Account</h5>
                    <form [formGroup]="loginRef" (ngSubmit)="signUp()">
                        <div class="form-group">
                            <input type="number" id="id" placeholder="Enter id" formControlName="id" required/>
                        </div>
                        <div *ngIf="(loginRef.controls['id']?.invalid) && (loginRef.controls['id']?.touched)">
                            <span [hidden]="!loginRef.controls['id'].hasError('required')" style="color: red;">Id is required</span>
                            <!-- <span [hidden]="!loginRef.controls['emailid'].hasError('pattern')" style="color: red;">Email must follow pattern</span> -->
                        </div>
                        <div class="form-group">
                        <input type="email" id="email" placeholder="Enter Email Id" formControlName="emailid" required pattern="[a-z, A-Z, 0-9]+@[a-z, A-Z]+.com"/>
                        </div>
                        <div *ngIf="(loginRef.controls['emailid']?.invalid) && (loginRef.controls['emailid']?.touched)">
                            <span [hidden]="!loginRef.controls['emailid'].hasError('required')" style="color: red;">Email is required</span>
                            <span [hidden]="!loginRef.controls['emailid'].hasError('pattern')" style="color: red;">Email must follow pattern</span>
                        </div>
                        <div class="form-group">
                        <input type="password" id="password" placeholder="Enter password" formControlName="password" required minlength="4"/>
                        </div>
                        <div *ngIf="(loginRef.controls['password']?.invalid) && (loginRef.controls['password']?.touched)">
                            <span [hidden]="!loginRef.controls['password'].hasError('required')" style="color: red;">Password is required</span>
                            <span [hidden]="!loginRef.controls['password'].hasError('minlength')" style="color: red;">Password should contain atleast 4 charaters</span>
                        </div>
                        <!-- <label>Role: </label> -->
                        <input type="radio" id="doctorRole" name="role" value="doctor" formControlName="role"/>doctor
                        <input type="radio" id="patientRole" name="role" value="patient" formControlName="role"/>patient
                        <br>
                        <div class="form-group">
                            <input type="submit" id="signup" value="Sign up" class="btn btn-primary"/>
                        </div>
                        <div class="form-group">
                            <input type="reset" value="reset" class="btn btn-secondary"/>
                        </div>
                    </form>
                    <br>
                    <span style="color: red;">{{msg}}</span><br>
                </div>
                <div class="form-group" >
                    <div class="form-group"><p>Return Back to <button class="btn btn-outline-secondary"><a routerLink="/login" style="color: black; text-decoration:none">Login</a></button> </p></div>
                </div>
            </div>
            
    </div>
    
</div>
